node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# uil-forces
__pycache__
main.db
.venv
run
secret.txt
backend/pdfs/
setup/
pyinstaller-dist
pyinstaller-build
_internal
main
!example-setup-dir/pdfs
.vscode
backend/dist
.svelte-kit
*.log
logs
tools/