APScheduler==3.11.0
blinker==1.9.0
click==8.2.1
Flask==3.1.1
Flask-APScheduler==1.13.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.2.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pypdf==6.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
SQLAlchemy==2.0.42
typing_extensions==4.14.1
tzlocal==5.3.1
Werkzeug==3.1.3
